<header class="header">
    <div class="container">
        <div class="header__row">
            <a href="/"
               class="logo header__logo">
            <!--     <picture>
                    <source media="(min-width: 1024px)"
                            srcset="./img/common/logo.png"
                            width="190"
                            height="80">
                    <img src="./img/common/logo.png"
                         alt="logo"
                         class=""
                         width="169"
                         height="71">
                </picture> -->
            </a>
            <div class="mobile-nav">
                <div class="mobile-nav__body">
                    <div class="header__lang d-s">
                        <a href="#!"
                           class="">ENG</a>
                        <a href="#!"
                           class="active">УКР</a>
                    </div>
                    <ul class="mobile-nav__list">
                        <li><a href="/collections"
                               class="@@if (active === 'collections') {active}">Collections</a></li>
                        <li><a href="/business"
                               class="@@if (active === 'business') {active}">Business</a></li>
                        <li><a href="/want"
                               class="@@if (active === 'want') {active}">WANT!</a></li>
                        <li><a href="#contacts"
                               class="@@if (active === 'contacts') {active}">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="header__lang d-l">

                <a href="#!"
                   class="">ENG</a>
                /
                <a href="#!"
                   class="active">УКР</a>
            </div>
            <button class="mobile-nav-btn">
                <div class="nav-icon"></div>
            </button>
        </div>
    </div>
</header>